# Pandas

+ Pandas é uma biblioteca Python que fornece ferramentas de análise de dados e estruturas de dados de alta performance e fáceis de usar.
+ Pandas é construída sobre a biblioteca NumPy e sua estrutura de dados principal é chamada de **DataFrame**.
+ Um DataFrame permite que se armazene e se manipule tabelas de dados nas quais as linhas são as observações e as colunas as variáveis.

In [2]:
import pandas as pd # aqui importamos a biblioteca e damos a ela o "apelido" pd

Existem diversas formas de se criar um DataFrame

Usando dicionários

In [3]:
dic = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }
brics = pd.DataFrame(dic)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

O atributo **index** contém os títulos das linhas do DataFrame. Se no momento da criação do DataFrame nenhum índice for informado os índices são criados automaticamente a partir do 0.

In [4]:
print(brics.index)

RangeIndex(start=0, stop=5, step=1)

Os índices podem ser alterados a qualquer momento e com dados de quaisquer tipos.

In [5]:
brics.index = ["BR","RU","IN","CH","SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

O atributo **index** retorna uma visão dos títulos das linhas enquanto que o atributo **columns** retorna uma visão dos títulos das colunas.

In [6]:
print(brics.index)
print(brics.columns)

Index(['BR', 'RU', 'IN', 'CH', 'SA'], dtype='object')
Index(['country', 'capital', 'area', 'population'], dtype='object')

Outra maneira de se criar um DataFrame é importando um arquivo csv

In [7]:
import pandas as pd
flavonoides = pd.read_csv("flavonoides.csv",sep='\t')
flavonoides

,Unnamed: 0,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
0,mol1,222.250000,19.010000,27.070000,19.719999,38.830002,0.70,1.00,0.73,2.28,...,-33.970001,-4.070112e+05,3.374254e+05,66.669998,690.150024,329.269989,2.030,-4.45,-9.154,-0.643453
1,mol2,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,...,-36.250000,-4.025330e+05,3.329449e+05,68.669998,690.500000,344.850006,2.030,-4.45,-9.028,0.698970
2,mol3,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,...,-38.276001,-4.030637e+05,3.334736e+05,68.669998,691.250000,345.779999,2.030,-4.44,-9.356,-0.544068
3,mol4,252.279999,21.120001,31.280001,21.930000,44.000000,0.68,1.01,0.71,2.32,...,-28.040001,-4.519916e+05,3.788243e+05,73.430000,751.099976,369.109985,2.070,-4.70,-9.231,-0.954243
4,mol5,282.309998,23.230000,35.490002,24.150000,49.169998,0.66,1.01,0.69,2.34,...,-78.559998,-4.516916e+05,3.747121e+05,70.360001,708.479980,348.079987,1.075,-4.32,-9.227,0.000000
5,mol6,312.339996,25.340000,39.709999,26.360001,54.330002,0.65,1.02,0.68,2.36,...,-123.139999,-4.943830e+05,4.100098e+05,72.050003,730.320007,362.579987,1.046,-4.17,-9.051,1.000000
6,mol7,432.410004,32.099998,53.110001,33.160000,89.000000,0.63,1.04,0.65,2.87,...,-166.800003,-5.432547e+05,4.514886e+05,73.750000,749.119995,367.339996,1.180,-4.04,-8.995,-0.380211
7,mol8,286.250000,21.059999,32.380001,21.530001,61.500000,0.68,1.04,0.69,2.93,...,-160.619995,-5.855732e+05,4.902264e+05,78.519997,805.640015,410.380005,1.210,-4.25,-8.988,0.522879
8,mol9,448.410004,32.610001,54.439999,33.610001,94.669998,0.63,1.05,0.65,2.96,...,-168.529999,-8.636344e+05,7.463132e+05,99.290001,1033.209961,546.479980,1.050,-4.35,-9.056,-0.908485
9,mol10,372.399994,29.559999,48.130001,30.799999,64.669998,0.63,1.02,0.66,2.40,...,-165.330002,-5.044950e+04,4.586848e+05,73.730003,746.000000,363.230011,0.560,-3.97,-8.620,-1.033424
10,mol11,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,...,-168.130005,-5.479857e+05,4.562183e+05,73.730003,745.409973,365.239990,0.560,-3.95,-8.665,0.537602
11,mol12,268.279999,21.629999,32.610001,22.389999,49.669998,0.68,1.02,0.70,2.48,...,-209.026993,-6.011780e+05,5.020209e+05,75.430000,764.929993,368.799988,0.280,-3.84,-8.595,-0.380211
12,mol13,286.250000,21.059999,32.380001,21.530001,61.500000,0.68,1.04,0.69,2.93,...,-202.470001,-6.486695e+05,5.459318e+05,80.199997,820.960022,410.040009,0.310,-4.06,-8.615,0.537602
13,mol14,302.250000,21.570000,33.709999,21.990000,67.169998,0.67,1.05,0.69,3.05,...,-249.149994,-6.541505e+05,5.476038e+05,77.120003,784.590027,376.589996,1.150,-3.26,-8.554,-0.857332
14,mol15,316.279999,23.170000,36.590000,23.750000,66.669998,0.66,1.05,0.68,2.90,...,-258.119995,-6.547352e+05,5.481795e+05,77.120003,777.630005,367.910004,1.110,-2.92,-8.758,0.096910
15,mol16,610.570007,44.160000,76.489998,45.689999,128.000000,0.60,1.05,0.63,2.98,...,-52.000000,-4.660261e+05,3.922056e+05,71.809998,756.530029,373.029999,2.590,-4.46,-9.120,-0.977724
16,mol17,302.250000,21.570000,33.709999,21.990000,67.169998,0.67,1.05,0.69,3.05,...,-54.459999,-4.599656e+05,3.861426e+05,71.809998,759.950012,387.549988,2.590,-4.29,-8.894,0.154902
17,mol18,318.250000,22.080000,35.040001,22.440001,72.830002,0.67,1.06,0.68,3.17,...,-61.830002,-4.185230e+05,3.482798e+05,67.040001,705.640015,345.529999,2.560,-4.01,-9.240,0.221849
18,mol19,272.269989,21.150000,32.939999,21.840000,55.000000,0.66,1.03,0.68,2.75,...,-435.000000,-1.264484e+06,1.107469e+06,106.000000,1103.699951,494.369995,4.120,-3.63,-8.835,-0.113943
19,mol20,302.299988,23.260000,37.150002,24.059999,60.169998,0.65,1.03,0.67,2.73,...,-575.000000,-1.946338e+06,1.745784e+06,143.410004,1507.030029,646.619995,0.640,-4.27,-9.104,0.096910

Observem que o separador de colunas desse arquivo, tabulação, foi especificado por meio do parâmetro *sep='\t'*. Quando o separador das colunas é a vírgula esse parâmetro pode ser omitido.

Para que o comando interprete que a primeira coluna representa os índices, o parâmetro **index_col** deve ser acresentado.

In [8]:
flavonoides = pd.read_csv("flavonoides.csv",sep='\t',index_col=0)
flavonoides

,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],nAT[11],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
mol1,222.250000,19.010000,27.070000,19.719999,38.830002,0.70,1.00,0.73,2.28,27.0,...,-33.970001,-4.070112e+05,3.374254e+05,66.669998,690.150024,329.269989,2.030,-4.45,-9.154,-0.643453
mol2,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-36.250000,-4.025330e+05,3.329449e+05,68.669998,690.500000,344.850006,2.030,-4.45,-9.028,0.698970
mol3,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-38.276001,-4.030637e+05,3.334736e+05,68.669998,691.250000,345.779999,2.030,-4.44,-9.356,-0.544068
mol4,252.279999,21.120001,31.280001,21.930000,44.000000,0.68,1.01,0.71,2.32,31.0,...,-28.040001,-4.519916e+05,3.788243e+05,73.430000,751.099976,369.109985,2.070,-4.70,-9.231,-0.954243
mol5,282.309998,23.230000,35.490002,24.150000,49.169998,0.66,1.01,0.69,2.34,35.0,...,-78.559998,-4.516916e+05,3.747121e+05,70.360001,708.479980,348.079987,1.075,-4.32,-9.227,0.000000
mol6,312.339996,25.340000,39.709999,26.360001,54.330002,0.65,1.02,0.68,2.36,39.0,...,-123.139999,-4.943830e+05,4.100098e+05,72.050003,730.320007,362.579987,1.046,-4.17,-9.051,1.000000
mol7,432.410004,32.099998,53.110001,33.160000,89.000000,0.63,1.04,0.65,2.87,51.0,...,-166.800003,-5.432547e+05,4.514886e+05,73.750000,749.119995,367.339996,1.180,-4.04,-8.995,-0.380211
mol8,286.250000,21.059999,32.380001,21.530001,61.500000,0.68,1.04,0.69,2.93,31.0,...,-160.619995,-5.855732e+05,4.902264e+05,78.519997,805.640015,410.380005,1.210,-4.25,-8.988,0.522879
mol9,448.410004,32.610001,54.439999,33.610001,94.669998,0.63,1.05,0.65,2.96,52.0,...,-168.529999,-8.636344e+05,7.463132e+05,99.290001,1033.209961,546.479980,1.050,-4.35,-9.056,-0.908485
mol10,372.399994,29.559999,48.130001,30.799999,64.669998,0.63,1.02,0.66,2.40,47.0,...,-165.330002,-5.044950e+04,4.586848e+05,73.730003,746.000000,363.230011,0.560,-3.97,-8.620,-1.033424
mol11,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-168.130005,-5.479857e+05,4.562183e+05,73.730003,745.409973,365.239990,0.560,-3.95,-8.665,0.537602
mol12,268.279999,21.629999,32.610001,22.389999,49.669998,0.68,1.02,0.70,2.48,32.0,...,-209.026993,-6.011780e+05,5.020209e+05,75.430000,764.929993,368.799988,0.280,-3.84,-8.595,-0.380211
mol13,286.250000,21.059999,32.380001,21.530001,61.500000,0.68,1.04,0.69,2.93,31.0,...,-202.470001,-6.486695e+05,5.459318e+05,80.199997,820.960022,410.040009,0.310,-4.06,-8.615,0.537602
mol14,302.250000,21.570000,33.709999,21.990000,67.169998,0.67,1.05,0.69,3.05,32.0,...,-249.149994,-6.541505e+05,5.476038e+05,77.120003,784.590027,376.589996,1.150,-3.26,-8.554,-0.857332
mol15,316.279999,23.170000,36.590000,23.750000,66.669998,0.66,1.05,0.68,2.90,35.0,...,-258.119995,-6.547352e+05,5.481795e+05,77.120003,777.630005,367.910004,1.110,-2.92,-8.758,0.096910
mol16,610.570007,44.160000,76.489998,45.689999,128.000000,0.60,1.05,0.63,2.98,73.0,...,-52.000000,-4.660261e+05,3.922056e+05,71.809998,756.530029,373.029999,2.590,-4.46,-9.120,-0.977724
mol17,302.250000,21.570000,33.709999,21.990000,67.169998,0.67,1.05,0.69,3.05,32.0,...,-54.459999,-4.599656e+05,3.861426e+05,71.809998,759.950012,387.549988,2.590,-4.29,-8.894,0.154902
mol18,318.250000,22.080000,35.040001,22.440001,72.830002,0.67,1.06,0.68,3.17,33.0,...,-61.830002,-4.185230e+05,3.482798e+05,67.040001,705.640015,345.529999,2.560,-4.01,-9.240,0.221849
mol19,272.269989,21.150000,32.939999,21.840000,55.000000,0.66,1.03,0.68,2.75,32.0,...,-435.000000,-1.264484e+06,1.107469e+06,106.000000,1103.699951,494.369995,4.120,-3.63,-8.835,-0.113943
mol20,302.299988,23.260000,37.150002,24.059999,60.169998,0.65,1.03,0.67,2.73,36.0,...,-575.000000,-1.946338e+06,1.745784e+06,143.410004,1507.030029,646.619995,0.640,-4.27,-9.104,0.096910

Você pode visualizar apenas as primeiras linhas do DataFrame por meio do comando **head** ou apenas as últimas por meio do comando **tail**.

In [9]:
flavonoides.head()

,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],nAT[11],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
mol1,222.250000,19.010000,27.070000,19.719999,38.830002,0.70,1.00,0.73,2.28,27.0,...,-33.970001,-407011.25000,337425.40625,66.669998,690.150024,329.269989,2.030,-4.45,-9.154,-0.643453
mol2,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-36.250000,-402533.03125,332944.90625,68.669998,690.500000,344.850006,2.030,-4.45,-9.028,0.698970
mol3,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-38.276001,-403063.68750,333473.59375,68.669998,691.250000,345.779999,2.030,-4.44,-9.356,-0.544068
mol4,252.279999,21.120001,31.280001,21.930000,44.000000,0.68,1.01,0.71,2.32,31.0,...,-28.040001,-451991.59375,378824.31250,73.430000,751.099976,369.109985,2.070,-4.70,-9.231,-0.954243
mol5,282.309998,23.230000,35.490002,24.150000,49.169998,0.66,1.01,0.69,2.34,35.0,...,-78.559998,-451691.59375,374712.09375,70.360001,708.479980,348.079987,1.075,-4.32,-9.227,0.000000

In [10]:
flavonoides.tail(2)

,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],nAT[11],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
mol19,272.269989,21.15,32.939999,21.840000,55.000000,0.66,1.03,0.68,2.75,32.0,...,-435.0,-1264483.625,1107469.375,106.000000,1103.699951,494.369995,4.12,-3.63,-8.835,-0.113943
mol20,302.299988,23.26,37.150002,24.059999,60.169998,0.65,1.03,0.67,2.73,36.0,...,-575.0,-1946337.750,1745783.875,143.410004,1507.030029,646.619995,0.64,-4.27,-9.104,0.096910

Existem diversas maneiras de se acessar fatias (slices) de um DataFrame. A mais simples é usando colchetes, assim como é feito para listas e arrays.

In [11]:
flavonoides["MW[2]"] # acessando uma coluna

mol1     222.250000
mol2     238.250000
mol3     238.250000
mol4     252.279999
mol5     282.309998
mol6     312.339996
mol7     432.410004
mol8     286.250000
mol9     448.410004
mol10    372.399994
mol11    238.250000
mol12    268.279999
mol13    286.250000
mol14    302.250000
mol15    316.279999
mol16    610.570007
mol17    302.250000
mol18    318.250000
mol19    272.269989
mol20    302.299988
Name: MW[2], dtype: float64

In [12]:
flavonoides[["Lumo","Homo","Gap"]] # acessando uma lista de colunas

        Lumo   Homo    Gap
mol1  -0.653 -9.154  8.501
mol2  -0.803 -9.028  8.225
mol3  -0.814 -9.356  8.542
mol4  -0.365 -9.231  8.866
mol5  -0.679 -9.227  8.548
mol6  -0.702 -9.051  8.349
mol7  -0.753 -8.995  8.242
mol8  -0.704 -8.988  8.284
mol9  -0.828 -9.056  8.228
mol10 -0.751 -8.620  7.869
mol11 -0.936 -8.665  7.729
mol12 -0.822 -8.595  7.770
mol13 -0.800 -8.615  7.815
mol14 -0.926 -8.554  7.628
mol15 -1.140 -8.758  7.618
mol16 -0.347 -9.120  8.773
mol17 -0.515 -8.894  8.380
mol18 -0.460 -9.240  8.780
mol19 -0.836 -8.835  7.990
mol20 -0.426 -9.104  8.680

As linhas podem ser acessadas por meio da faixa de linhas desejadas entre colchetes.

In [13]:
flavonoides[2:5]

,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],nAT[11],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
mol3,238.250000,19.520000,28.400000,20.17,44.500000,0.70,1.01,0.72,2.47,28.0,...,-38.276001,-403063.68750,333473.59375,68.669998,691.250000,345.779999,2.030,-4.44,-9.356,-0.544068
mol4,252.279999,21.120001,31.280001,21.93,44.000000,0.68,1.01,0.71,2.32,31.0,...,-28.040001,-451991.59375,378824.31250,73.430000,751.099976,369.109985,2.070,-4.70,-9.231,-0.954243
mol5,282.309998,23.230000,35.490002,24.15,49.169998,0.66,1.01,0.69,2.34,35.0,...,-78.559998,-451691.59375,374712.09375,70.360001,708.479980,348.079987,1.075,-4.32,-9.227,0.000000

O método **loc** pode ser usado com dois índices e permite acessar linhas e colunas por meio dos respectivos títulos.

In [14]:
flavonoides.loc[:,["Lumo","Homo","Gap"]] # todas as linhas e algumas colunas

        Lumo   Homo    Gap
mol1  -0.653 -9.154  8.501
mol2  -0.803 -9.028  8.225
mol3  -0.814 -9.356  8.542
mol4  -0.365 -9.231  8.866
mol5  -0.679 -9.227  8.548
mol6  -0.702 -9.051  8.349
mol7  -0.753 -8.995  8.242
mol8  -0.704 -8.988  8.284
mol9  -0.828 -9.056  8.228
mol10 -0.751 -8.620  7.869
mol11 -0.936 -8.665  7.729
mol12 -0.822 -8.595  7.770
mol13 -0.800 -8.615  7.815
mol14 -0.926 -8.554  7.628
mol15 -1.140 -8.758  7.618
mol16 -0.347 -9.120  8.773
mol17 -0.515 -8.894  8.380
mol18 -0.460 -9.240  8.780
mol19 -0.836 -8.835  7.990
mol20 -0.426 -9.104  8.680

In [15]:
flavonoides.loc[["mol3","mol8","mol5","mol20"],:] # acessando algumas linhas e todas as colunas

,MW[2],Sv[3],Se[4],Sp[5],Ss[6],Mv[7],Me[8],Mp[9],Ms[10],nAT[11],...,EHF,Eel,Enu,RM,Vol,�rea,Alog P,Mol Log S,Homo,Log (1/ID50)
mol3,238.250000,19.520000,28.400000,20.170000,44.500000,0.70,1.01,0.72,2.47,28.0,...,-38.276001,-4.030637e+05,3.334736e+05,68.669998,691.250000,345.779999,2.030,-4.44,-9.356,-0.544068
mol8,286.250000,21.059999,32.380001,21.530001,61.500000,0.68,1.04,0.69,2.93,31.0,...,-160.619995,-5.855732e+05,4.902264e+05,78.519997,805.640015,410.380005,1.210,-4.25,-8.988,0.522879
mol5,282.309998,23.230000,35.490002,24.150000,49.169998,0.66,1.01,0.69,2.34,35.0,...,-78.559998,-4.516916e+05,3.747121e+05,70.360001,708.479980,348.079987,1.075,-4.32,-9.227,0.000000
mol20,302.299988,23.260000,37.150002,24.059999,60.169998,0.65,1.03,0.67,2.73,36.0,...,-575.000000,-1.946338e+06,1.745784e+06,143.410004,1507.030029,646.619995,0.640,-4.27,-9.104,0.096910

In [16]:
flavonoides.loc[["mol3","mol8","mol5","mol20"],["Lumo","Homo","Gap"]] # acessando algumas linhas e algumas colunas

        Lumo   Homo    Gap
mol3  -0.814 -9.356  8.542
mol8  -0.704 -8.988  8.284
mol5  -0.679 -9.227  8.548
mol20 -0.426 -9.104  8.680

O método **iloc** pode ser usado de maneira semelhante ao método **loc**, exceto que ele utiliza como parâmetros os índices ao ínvés dos títulos das linhas ou colunas.

In [17]:
flavonoides.iloc[2] # passando apenas um parâmetro, a linha selecionada é acessada (mol3)

MW[2]           238.250000
Sv[3]            19.520000
Se[4]            28.400000
Sp[5]            20.170000
Ss[6]            44.500000
                   ...
�rea            345.779999
Alog P            2.030000
Mol Log S        -4.440000
Homo             -9.356000
Log (1/ID50)     -0.544068
Name: mol3, Length: 556, dtype: float64

In [18]:
flavonoides.iloc[[2,5,8],551:555] # uma lista ou uma faixa de valores podem ser passados como parâmetros

            �rea  Alog P  Mol Log S   Homo
mol3  345.779999   2.030      -4.44 -9.356
mol6  362.579987   1.046      -4.17 -9.051
mol9  546.479980   1.050      -4.35 -9.056

Assim como os arrays, os DataFrame também possuem os atributos **shape** e **size**

In [19]:
print(flavonoides.shape)
print(flavonoides.size)

(20, 556)
11120

O método **describe** fornece um resumo da estatística por colunas referente ao DataFrame

In [20]:
brics.describe()

            area   population
count   5.000000     5.000000
mean    7.944000   601.176000
std     6.200557   645.261454
min     1.221000    52.980000
25%     3.286000   143.500000
50%     8.516000   200.400000
75%     9.597000  1252.000000
max    17.100000  1357.000000

No entanto, essas estatísticas podem ser obtidas individualmente por meio dos métodos mean, std, etc. Além disso é possível obter as estatísticas por linha especificando a dimensão desejada.

In [21]:
print(brics.mean())
print("-------------------------------")
print(brics.std(axis=1))

area            7.944
population    601.176
dtype: float64
-------------------------------
BR    135.682478
RU     89.378297
IN    882.974137
CH    952.757798
SA     36.599140
dtype: float64

Os métodos **sum**, **min** e **max** também podem ser usados nos DataFrames.

In [22]:
print("Maior valor de cada coluna")
print(brics.max())
print("Soma dos valores de cada coluna numérica")
print(brics.sum(numeric_only=True))
print("Menor valor de cada linha")
print(brics.min(axis=1))

Maior valor de cada coluna
country       South Africa
capital           Pretoria
area                  17.1
population            1357
dtype: object
Soma dos valores de cada coluna numérica
area            39.72
population    3005.88
dtype: float64
Menor valor de cada linha
BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
dtype: float64

Do mesmo modo que ocorre com os Arrays, o DataFrame transposto pode ser acessado por meio do atributo **T**.

In [23]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [24]:
brics.T

                  BR      RU         IN       CH            SA
country       Brazil  Russia      India    China  South Africa
capital     Brasilia  Moscow  New Dehli  Beijing      Pretoria
area           8.516    17.1      3.286    9.597         1.221
population     200.4   143.5       1252     1357         52.98

Você pode ordenar um DataFrame pelo título do índice com o método **sort_index** especificando qual dimensão será usada com a palavra chave *axis*.

In [25]:
brics.sort_index(axis=1,ascending=False) # ordenando as colunas pelo título em ordem decrescente

    population       country    capital    area
BR      200.40        Brazil   Brasilia   8.516
RU      143.50        Russia     Moscow  17.100
IN     1252.00         India  New Dehli   3.286
CH     1357.00         China    Beijing   9.597
SA       52.98  South Africa   Pretoria   1.221

Você pode escolher uma linha ou coluna para ordenar o DataFrame com o método **sort_values**.

In [26]:
brics.sort_values(by="population",)

         country    capital    area  population
SA  South Africa   Pretoria   1.221       52.98
RU        Russia     Moscow  17.100      143.50
BR        Brazil   Brasilia   8.516      200.40
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00

O método **concat** concatena as linhas de uma lista de DataFrames diferentes

In [27]:
df1 = brics[0:1]
print(df1)
df2 = brics[2:4]
print(df2)
pd.concat([df1,df2])

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
   country    capital   area  population
IN   India  New Dehli  3.286      1252.0
CH   China    Beijing  9.597      1357.0

   country    capital   area  population
BR  Brazil   Brasilia  8.516       200.4
IN   India  New Dehli  3.286      1252.0
CH   China    Beijing  9.597      1357.0

Para concatenar colunas utilizamos o método **merge**.

In [28]:
df1 = brics.loc[:,["country","population"]]
print(df1)
df2 = brics.loc[:,["area"]]
print(df2)
df1.merge(df2,left_index=True,right_index=True)

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98
      area
BR   8.516
RU  17.100
IN   3.286
CH   9.597
SA   1.221

         country  population    area
BR        Brazil      200.40   8.516
RU        Russia      143.50  17.100
IN         India     1252.00   3.286
CH         China     1357.00   9.597
SA  South Africa       52.98   1.221

O DataFrame pode ser salvo em arquivo csv ou excel, por exemplo.

In [29]:
brics.to_csv("brics.csv")
brics.to_excel("brics.xlsx")

In [30]:
df = brics.T[2:]
df

               BR     RU     IN     CH     SA
area        8.516   17.1  3.286  9.597  1.221
population  200.4  143.5   1252   1357  52.98

In [31]:
brics['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object